@{
    ViewData["Title"] = "Tool";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <br />
    <div>
        <h1 class="font-weight-bold text-center">The last finantial tool you will need</h1>
        <h5 class="text-center">A fast and easy way to manage your finances</h5>
            <div class="text-center">
                <a class="btn btn-lg btn-dark btn-pill mt-2" href="~/azz.xlsm" download="Statch.xlsm">Download the Financial Tool!</a>
            </div>
        <div>
        <hr />
        <p class="text-center"> </p>
        <hr />
            </div>
        </div>
    </body>

</html>