<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Statch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @{
            string userRole = Context.Session.GetString("Role");
            if (userRole != null)
            {
                if (userRole == "User")
                {
                    @await Html.PartialAsync("_UserBar.cshtml")
                }
            }
            else
            {
                @await Html.PartialAsync("_PublicBar.cshtml")
            }
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
