<nav class="navbar navbar-expand-md bg-success navbar-dark navbar-fixed-top">
    <a class="navbar-brand" href="~/Home/Index" style=" color:white;">
        Statch
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#publicBar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="publicNavbar">
        <ul class="navbar-nav mr-auto">      
            <li class="nav-item">
                <a class="nav-link text-light" href="~/Home/Tool">Tool</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- A link for logging in user -->
                <a class="nav-link text-light" href="~/Home/LoginView">Log In</a>
            </li>
        </ul>
    </div>
</nav>
